@responsive {

  @for $i from 1 to var(--z-index--count) {

    .z$(i) {
      z-index: $i;
    }

    .z10$(i) {
      z-index: 10$(i);
    }

    .z100$(i) {
      z-index: 100$(i);
    }

  }

  .zn1 {
    z-index: -1;
  }

}
