
@responsive {

  .b {
    font-weight: 600;
  }

  .i {
    font-style: italic;
  }

  .oblique {
    font-style: oblique;
  }

  .normal {
    font-weight: normal;
  }

  .thin {
    font-weight: 300;
  }

  .underline {
    text-decoration: underline;
  }

  .overline {
    text-decoration: overline;
  }

  .strike-through {
    text-decoration: line-through;
  }

  .text-decoration-none {
    text-decoration: none;
  }

}
