
@responsive {

  .ucase {
    text-transform: uppercase;
  }

  .lcase {
    text-transform: lowercase;
  }

  .lead-caps {
    text-transform: capitalize;
  }

  .small-caps {
    font-variant: small-caps;
  }

}
