
/**
 * In the header class each-loop I am unable to start at 1
 * so it includes the h0 class. Until I learn how to skip
 * 0 and make $i start at the number 1.
 * Maybe use an @if to filter out $i == 0.
 */


@responsive {

  @for $i from 1 to var(--font-size--count) {

    .font-size-$(i) {
      font-size: var(--font-size-$i);
    }

  }

  @each $val, $i in 9, 8, 7, 6, 5, 4 {

    .h$(i) {
      font-size: var(--font-size-$val);
    }

  }

}
