
@responsive {

  .list-style-none {
    list-style: none;
  }

  .list-style-square {
    list-style-type: square;
  }

  .list-style-circle {
    list-style-type: circle;
  }

  .list-reset {
    list-style: none;
    padding-left: 0;
  }

}
