
/**
 * Functional Typography Styles
 *
 */

@import './_align.pcss';
@import './_basic-props.pcss';
@import './_case.pcss';
@import './_font-size.pcss';
@import './_line-height.pcss';
@import './_list.pcss';
@import './_paragraph.pcss';

