
/* Forms */
@import './_input.pcss';
@import './_label.pcss';
@import './_radio-check.pcss';

.form-reset {
  margin: 0;
  padding: 0;
  border: 1px;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: var(--font-size--base);
  font-family: var(--sans);
}
