
.transition-all {
  transition: all var(--animation-speed--default);
}

.transition-bg {
  transition: background var(--animation-speed--default);
}

.transition-color {
  transition: color var(--animation-speed--default);
}

.transition-opacity {
  transition: opacity var(--animation-speed--default);
}

.transition-border {
  transition: border var(--animation-speed--default);
}

.transition-transform {
  transition: transform var(--animation-speed--default);
}
