
@responsive {

  .valign-baseline {
    vertical-align: baseline;
  }

  .valign-sub {
    vertical-align: sub;
  }

  .valign-super {
    vertical-align: super;
  }

  .valign-middle {
    vertical-align: middle;
  }

  .valign-top {
    vertical-align: top;
  }

  .valign-bottom {
    vertical-align: bottom;
  }

}
