
@responsive {

  .inline {
    display: inline;
  }

  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .table {
    display: table;
  }

  .table-cell {
    display: table-cell;
  }

  .border-box {
    box-sizing: border-box;
  }

  .content-box {
    box-sizing: content-box;
  }
}
