
@responsive {

  .h-auto {
    height: auto;
  }

  .h-full {
    height: 100vh;
  }

  @for $i from 1 to var(--default--count) {

    .ht-$(i) {
      height: calc(var(--font-size-4) * $(i));
    }

  }

}
