
@responsive {

  .overflow {
    overflow: visible;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-scroll {
    overflow: scroll;
  }

  .overflow-scrollx {
    overflow-x: scroll;
  }

  .overflow-scrolly {
    overflow-y: scroll;
  }

}
