
/* Media */

@responsive {

  .media {
    display: flex;
    width: 100%;
    max-width: 100%;
  }

  .media-center {
    align-items: center;
  }

  .media-bottom {
    align-items: flex-end;
  }

  .media-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .media-body {
    flex: 1 1 auto;
  }

}
